:root {
  --main-color: #fff;
  --accent-color: #f26522;
}
body {
  background-image: url("../img/background\ .png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--main-color);
}
.container {
  max-width: 1030px;
  margin: 0 auto;
}
.header {
  margin-top: 46px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.logo_container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo_container .logo_icon:nth-of-type(2) {
  display: none;
}
.logo_container:hover .logo_icon:nth-of-type(1) {
  display: none;
}
.logo_container:hover .logo_icon:nth-of-type(2) {
  display: block;
}
.logo_container:hover .logo_name {
  color: var(--accent-color);
}
.logo_name {
  font-weight: 700;
  color: var(--main-color);
}
.logo_name_first {
  font-size: 29px;
  line-height: 29px;
}
.logo_name_second {
  font-size: 18px;
  line-height: 18px;
}
.contacts_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.contacts {

  font-size: 18px;
  line-height: 18px;
  color: var(--main-color);
}
.contacts:hover {
  color: var(--accent-color);
}
.tours {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 37px;
}
.tour_link {
  position: relative;
  display: flex;
  width: 300px;
  height: 260px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tour_image {
  width: 300px;
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
}
.tour_image_shopping {
  background-image: url("../img/shopping.png");
}
.tour_image_sightseeing {
  background-image: url("../img/sightseeing.png");
}
.tour_image_food {
  background-image: url("../img/food.png");
}
.tour_image_nightlife {
  background-image: url("../img/nightlife.png");
}
.tour_image_architecture {
  background-image: url("../img/architecture.png");
}
.tour_image_walking {
  background-image: url("../img/walking.png");
}
.tour_details {
  width: 300px;
  height: 60px;
  background-color: var(--accent-color);
  display: none;
  position: absolute;
  bottom: 42px;
}
.tour_link:hover .tour_details {
  display: block;
}
.tour_link:hover .tour_name {
  color: var(--accent-color);
}
.tour_details_from {
  font-size: 10px;
  line-height: 10px;
  color: var(--main-color);
  padding: 7px 0 8px 16px;
}
.tour_details_bottom {
  display: flex;
  justify-content: center;
  gap: 128px;
  align-items: center;
}
.tour_details_price {
  font-size: 20px;
  line-height: 20px;
  color: var(--main-color);
}
.tour_details_text {
  font-size: 14px;
  line-height: 14px;
  color: var(--main-color);
}
.tour_details_text::after {
  content: url("../img/details_vector.svg");
  margin-left: 16px;
}
.tour_name {
  font-size: 18px;
  line-height: 18px;
  color: var(--main-color);
}
.footer {
  margin-top: 48px;
}
.copyright {
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: var(--main-color);
}
